<p id="notice"><%= notice %></p>

<table class=teams_table >
  <tr id=awt_bar>
    <th class="awt" colspan=18 >
      <%= link_to "Average Weighted Time", controller: "awt" %>
    </th>
  </tr>
  <tr class=header_row>
    <td class=awt_cat colspan=9><b>Day 1</b></td>
    <td class=awt_cat colspan=9><b>Day 2</b></td>
  </tr>
  <tr>
    <% 2.times do %>
      <td class=awt_cat><b>Class</b></td>
      <% @class_list.each do |c| %>
        <td class=awt_cat><%=c%></td>
      <% end %>
    <% end %>
  </tr>
  <tr>
  <td class=awt_cat><b>AWT</b></td>
  <% @class_list.each do |c| %>
    <td class=awt_cat>
      <% if @day1_hash[c] %>
        <%=@day1_hash[c][:awt]%>
      <% else %>
        n/a
      <% end %>
    </td>
  <% end %>
  <td class=awt_cat><b>AWT</b></td>
  <% @class_list.each do |c| %>
    <td class=awt_cat>
      <% if @day2_hash[c] %>
        <%=@day2_hash[c][:awt]%>
      <% else %>
        n/a
      <% end %>
    </td>
  <% end %>
  </tr>

</table>
<table border = 1 width = 100% style="border-collapse: collapse; order-spacing: 0;
    margin: 0; padding: 0;">
  <tr style="background-color:#002868">
    <th align = center colspan=5><font color="white">Team Results</font></th>
  </tr>
  <tr style="background-color:LightGoldenRodYellow">
    <th align = center>ISV</th>
    <th align = center>ISJV</th>
    <th align = center>IMI</th>
    <th align = center>IC</th>
  </tr>
  <tr>
    <td valign=top>
      <table>
        <tr><th colspan="2">Varsity School</th></tr>
        <%= render 'team_list', :teams => @isv_school %>
        <tr><th colspan="2">Varsity Club</th></tr>
        <%= render 'team_list', :teams => @isv_club %>
        <tr><th colspan="2">Varsity JROTC</th></tr>
        <%= render 'team_list', :teams => @isv_jrotc %>
      </table>
    </td>
    <td valign=top>
      <table>
        <tr><th colspan="2">JV School</th></tr>
        <%= render 'team_list', :teams => @isjv_school %>
        <tr><th colspan="2">JV Club</th></tr>
        <%= render 'team_list', :teams => @isjv_club %>
        <tr><th colspan="2">JV JROTC</th></tr>
        <%= render 'team_list', :teams => @isjv_jrotc %>
      </table>
    </td>
    <td valign=top>
      <table>
        <tr><th colspan="2">Intermediate School</th></tr>
        <%= render 'team_list', :teams => @isi_school %>
        <tr><th colspan="2">Intermediate Club</th></tr>
        <%= render 'team_list', :teams => @isi_club %>
      </table>
    </td>
    <td valign=top>
      <table>
        <tr><th colspan="2">College</th></tr>
        <%= render 'team_list', :teams => @isi_school %>
        <tr><th colspan="2">College Club</th></tr>
        <%= render 'team_list', :teams => @isi_club %>
      </table>
    </td>
  </tr>
</table>