<%iplace = 1 %>
<% if (runner.count > 0) %>
  <% runner.each do |result| %>
    <tr>
     <td valign=top >&nbsp<%=iplace.to_s %></td>
                   <td align=left><%=result.firstname%> <%=result.surname%></td>
                   <td><%=result.school%></td>
                   <td><% if result.day1_score != nil %><%=result.day1_score.round(2) %><% end %></td>
                   <td><% if result.day2_score != nil %><%=result.day2_score.round(2) %><% end %></td>
                   <td align=left><% if result.day1_score != nil and result.day2_score and result.total %><%=result.total.round(2).to_s%><% end %></td>
                   <%iplace += 1%>
                   
                 </tr>
             
             <% end %>
<% else %>
  <tr><td colspan="2">No entries</td></tr>
<% end %>
