<p id="notice"><%= notice %></p>


<table border = 1 width = 100% style="border-collapse: collapse; order-spacing: 0;
    margin: 0; padding: 0;">
  <tr style="background-color:#002868">
    <th align="center" colspan="4"><font color="white">Individual Results</font></th>
  </tr>
  <tr style="background-color:LightBlue">
    <th align="center" width="25%"></th>
    <th align="center" width="25%"></th>
    <th align="center" width="25%"></th>
     <th align="center" width="25%"></th>
    
  </tr>
  <tr>
    <td valign=top>
      <table>
       <tr style="background-color:Tan">  
     	<tr><th colspan="6" align=center>Interscholastic Varsity Female</th></tr>
       <tr>
       <tr style="background-color:Tan">
       <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
       <%= render 'runners_list', :runner => @isvf %>
        <tr><th colspan="6">JV Female</th></tr>
       <%= render 'runners_list', :runner => @isjvf %>
       <tr><th colspan="6">Intermediate Male</th></tr>
       <%= render 'runners_list', :runner => @isim %>
       
       
      
      </table>
    </td>
    <td valign=top>
      <table>
     <tr><th colspan="2">Varsity Male</th></tr>
       <%= render 'runners_list', :runner => @isvm %>   
      </table>
    </td>
    <td valign=top>
      <table>
       <tr><th colspan="2">JV Female</th></tr>
       <%= render 'runners_list', :runner => @isjvf %>
        <tr><th colspan="2">Varsity College Female</th></tr>
       <%= render 'runners_list', :runner => @icvf %>  
        <tr><th colspan="2">Varsity College Male</th></tr>
       <%= render 'runners_list', :runner => @icvm %>  
      </table>
    </td>
    <td valign=top>
          <table>
         <tr><th colspan="2">JV Male</th></tr>
           <%= render 'runners_list', :runner => @isjvm %>  
            <tr><th colspan="2">Intermediate Female</th></tr>
           <%= render 'runners_list', :runner => @isif %>  
          </table>
    </td>
  </tr>
</table>