<p id="notice"><%= notice %></p>


<table border = 1 width = 100% style="border-collapse: collapse; order-spacing: 0;
    margin: 0; padding: 0;">
  <tr style="background-color:#002868">
    <th align="center" colspan="4"><font color="white">Individual Results</font></th>
  </tr>
  <tr style="background-color:LightBlue">
    <th align="center" width="33%"></th>
    <th align="center" width="33%"></th>
    <th align="center" width="33%"></th>
   </tr>
  
  <tr>
    <td valign=top>
          <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">
        	<tr><th colspan="25" align=center style="background-color:Orange">Interscholastic Jr. Varsity Male</th></tr>
           
           <tr style="background-color:Orange">
           <td colspan=0 class="cat">Pl</td>
           <td colspan=1 class="cat">Runner</td>
           <td colspan=1 class="cat">School</td>
           <td colspan=1 class="cat">Day 1</td>
           <td colspan=1 class="cat">Day 2</td>
           <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @isjvm %>
       
       
       
    </td>
    
  </tr>
</table>
<td valign=top>
      <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">
    	<tr><th colspan="25" align=center style="background-color:Tan">Interscholastic Varsity Female</th></tr>
       
       <tr style="background-color:Tan">
       <td colspan=0 class="cat">Pl</td>
       <td colspan=1 class="cat">Runner</td>
       <td colspan=1 class="cat">School</td>
       <td colspan=1 class="cat">Day 1</td>
       <td colspan=1 class="cat">Day 2</td>
       <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @isvf %>
       
        <tr><th colspan="25" align=center style="background-color:Orange">Interscholastic Jr. Varsity Female</th></tr>
	       
	       <tr style="background-color:Orange">
	       <td colspan=0 class="cat">Pl</td>
	       <td colspan=1 class="cat">Runner</td>
	       <td colspan=1 class="cat">School</td>
	       <td colspan=1 class="cat">Day 1</td>
	       <td colspan=1 class="cat">Day 2</td>
	       <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @isjvf %>
       
      <tr><th colspan="25" align=center style="background-color:LightBlue">Interscholastic Primary Male</th></tr>
      	       
      	       <tr style="background-color:LightBlue">
      	       <td colspan=0 class="cat">Pl</td>
      	       <td colspan=1 class="cat">Runner</td>
      	       <td colspan=1 class="cat">School</td>
      	       <td colspan=1 class="cat">Day 1</td>
      	       <td colspan=1 class="cat">Day 2</td>
      	       <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @ispm %>
       
        <tr><th colspan="25" align=center style="background-color:Pink">Interscholastic Primary Female</th></tr>
             	       
             	       <tr style="background-color:Pink">
             	       <td colspan=0 class="cat">Pl</td>
             	       <td colspan=1 class="cat">Runner</td>
             	       <td colspan=1 class="cat">School</td>
             	       <td colspan=1 class="cat">Day 1</td>
             	       <td colspan=1 class="cat">Day 2</td>
             	       <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @ispf %>
       
       
      
      </table>
    </td>
  
        <td valign=top>
          <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">
        	<tr><th colspan="25" align=center style="background-color:LightGreen">Interscholastic Varsity Male</th></tr>
           
           <tr style="background-color:LightGreen">
           <td colspan=0 class="cat">Pl</td>
           <td colspan=1 class="cat">Runner</td>
           <td colspan=1 class="cat">School</td>
           <td colspan=1 class="cat">Day 1</td>
           <td colspan=1 class="cat">Day 2</td>
           <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @isvm %>
       
       
       
    </td>
    
  </tr>
</table>