<p id="notice"><%= notice %></p>


<table border = 1 width = 100% style="border-collapse: collapse; order-spacing: 0;
    margin: 0; padding: 0;">
  <tr style="background-color:#002868">
    <th align="center" colspan="4"><font color="white">Individual Results</font></th>
  </tr>
  <tr style="background-color:LightBlue">
    <th align="center" width="33%"></th>
    <th align="center" width="33%"></th>
    <th align="center" width="33%"></th>
   </tr>
  
  <tr>
    <td valign=top>
          <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">
	 	    	<tr><th colspan="33" align=center style="background-color:LightGreen">Intercollegiate Varsity Female</th></tr>
	 	       
	 	       <tr style="background-color:LightGreen">
	 	       <td colspan=0 class="cat">Pl</td>
	 	       <td colspan=1 class="cat">Runner</td>
	 	       <td colspan=1 class="cat">School</td>
	 	       <td colspan=1 class="cat">Day 1</td>
	 	       <td colspan=1 class="cat">Day 2</td>
	 	       <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @icvf %>
         
         <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">
        	<tr><th colspan="33" align=center style="background-color:Gold">Interscholastic Intermediate Male</th></tr>
           
           <tr style="background-color:Gold">
           <td colspan=0 class="cat">Pl</td>
           <td colspan=1 class="cat">Runner</td>
           <td colspan=1 class="cat">School</td>
           <td colspan=1 class="cat">Day 1</td>
           <td colspan=1 class="cat">Day 2</td>
           <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @isim %>
   <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">  
     <tr><th colspan="33" align=center style="background-color:Yellow">Interscholastic Intermediate Female</th></tr>
                
                <tr style="background-color:Yellow">
                <td colspan=0 class="cat">Pl</td>
                <td colspan=1 class="cat">Runner</td>
                <td colspan=1 class="cat">School</td>
                <td colspan=1 class="cat">Day 1</td>
                <td colspan=1 class="cat">Day 2</td>
                <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @isif %>
     <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">
               	<tr><th colspan="33" align=center style="background-color:Tan">Interscholastic JROTC Varsity Female</th></tr>
                  
                  <tr style="background-color:Tan">
                  <td colspan=0 class="cat">Pl</td>
                  <td colspan=1 class="cat">Runner</td>
                  <td colspan=1 class="cat">School</td>
                  <td colspan=1 class="cat">Day 1</td>
                  <td colspan=1 class="cat">Day 2</td>
                  <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @isvf_jrotc %> 
       
       
       
       
    </td>
    
  </tr>
</table>
<td valign=top>
      
      <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; "> 
        <tr><th colspan="33" align=center style="background-color:Pink">Intercollegiate Varsity Male</th></tr>
	       
	       <tr style="background-color:Pink">
	       <td colspan=0 class="cat">Pl</td>
	       <td colspan=1 class="cat">Runner</td>
	       <td colspan=1 class="cat">School</td>
	       <td colspan=1 class="cat">Day 1</td>
	       <td colspan=1 class="cat">Day 2</td>
	       <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @icvm %>
       
       <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">
               	<tr><th colspan="33" align=center style="background-color:LightGreen">Interscholastic JROTC Varsity Male</th></tr>
                  
                  <tr style="background-color:LightGreen">
                  <td colspan=0 class="cat">Pl</td>
                  <td colspan=1 class="cat">Runner</td>
                  <td colspan=1 class="cat">School</td>
                  <td colspan=1 class="cat">Day 1</td>
                  <td colspan=1 class="cat">Day 2</td>
                  <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @isvm_jrotc %>
    
      </table>
    </td>
  
        <td valign=top>
         
         
       
     <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">
               	<tr><th colspan="33" align=center style="background-color:Orange">Interscholastic JROTC Jr. Varsity Male</th></tr>
                  
                  <tr style="background-color:Orange">
                  <td colspan=0 class="cat">Pl</td>
                  <td colspan=1 class="cat">Runner</td>
                  <td colspan=1 class="cat">School</td>
                  <td colspan=1 class="cat">Day 1</td>
                  <td colspan=1 class="cat">Day 2</td>
                  <td colspan=1 class="cat">Score</td>
       <%= render 'runners_list', :runner => @isjvm_jrotc %>
       
        <table width=100% border=0 cellpadding=0 cellspacing=0 style="border-collapse: collapse; order-spacing: 0; margin: 0; padding: 0; ">
                                    	<tr><th colspan="33" align=center style="background-color:Orange">Interscholastic JROTC Jr. Varsity Female</th></tr>
                                       
                                       <tr style="background-color:Orange">
                                       <td colspan=0 class="cat">Pl</td>
                                       <td colspan=1 class="cat">Runner</td>
                                       <td colspan=1 class="cat">School</td>
                                       <td colspan=1 class="cat">Day 1</td>
                                       <td colspan=1 class="cat">Day 2</td>
                                       <td colspan=1 class="cat">Score</td>
                     <%= render 'runners_list', :runner => @isjvf_jrotc %>  
  
    </td>
  </tr>
</table>