

<% @team_classes.each do |team_class| %>
  <h2><%= team_class %></h2>
  <table>
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Runner</th>
      <th>Day 1 Score</th>
      <th>Day 2 Score</th>
      <th>Total Score</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @team_results.where(entryclass: team_class).each do |team| %>
    <% if team.runners.competitive.size > 0 %>
      <tr>

        <td><%= team.name %></td>
        <td></td>
        <td><%= team.day1_score.round(2) %></td>
        <td><%= team.day2_score.round(2) %></td>
        <td><%= team.total_score.round(2) %></td>
      </tr>
      <% team.runners.competitive.order(:day1_score, :day2_score).each do |runner| %>
        <tr>
          <td></td>
          <td><%= "#{runner.firstname} #{runner.surname}" %></td>
          <td><%= runner.day1_score.round(2) %></td>
          <td><% if runner.day2_score %><%= runner.day2_score.round(2) %><%end %></td>
          <td><% if runner.total_score %><%= runner.total_score.round(2) %><% end %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
  </table>
<% end %>
