<table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
    margin: 0; padding: 0;">
  <tr style="background-color:#002868">
    <th align = Center colspan=18 class="awt"><font color="white">Awards - Top 3</font></th>
  </tr>
  <tr>
    <%if (@isvm.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic Varsity Male</th>
        <tr>
        <tr style="background-color:LightGreen">
          <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @isvm.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
              <td align=left><%=result.firstname%> <%=result.surname%></td><td>
                <%=result.school%></td><td>
                 <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@isvf.count > 0)%>
          <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                              margin: 0; padding: 0;">
            <tr style="background-color:LightGreen">
              <th colspan=6 align=center>Interscholastic Varsity Female</th>
            <tr>
            <tr style="background-color:LightGreen">
              <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
              <%iplace = 1 %>
              <% @isvf.each do |result| %>
                <tr>
                  <td valign=top >&nbsp<%=iplace.to_s %></td>
                  <td align=left><%=result.firstname%> <%=result.surname%></td><td>
                    <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
                  </td>
                  <td align=left><%=result.total.round(2).to_s%></td>
                  <%iplace += 1%>
                  <%if iplace >3%>
                    <%break%>
                  <%end%>
                </tr>
              <%end%>
            </tr>
          </table></td>
    <% end %>
      </tr>
  <tr>
    <%if (@isjvm.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic JV Male</th>
        <tr>
        <tr style="background-color:LightGreen">
          <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @isjvm.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
              <td align=left><%=result.firstname%> <%=result.surname%></td><td>
	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@isjvf.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic JV Female</th>
        <tr>
        <tr style="background-color:LightGreen">
          <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @isjvf.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
              <td align=left><%=result.firstname%> <%=result.surname%></td><td>
	      	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
  </tr>
  <tr>
    <tr>
    <%if (@isvm_jrotc.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic Varsity JROTC Male</th>
        <tr>
        <tr style="background-color:LightGreen">
          <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @isvm_jrotc.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
              <td align=left><%=result.firstname%> <%=result.surname%></td><td>
	      	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@isvf_jrotc.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic Varsity JROTC Female</th>
        <tr>
        <tr style="background-color:LightGreen">
          <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @isvf_jrotc.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
              <td align=left><%=result.firstname%> <%=result.surname%></td><td>
	      	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
  </tr>
  <tr>
    <%if (@isjvm_jrotc.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic JV JROTC Male</th>
        <tr>
        <tr style="background-color:LightGreen">
          <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @isjvm_jrotc.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
             <td align=left><%=result.firstname%> <%=result.surname%></td><td>
	     	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@isjvf_jrotc.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic JV JROTC Female</th>
        <tr>
        <tr style="background-color:LightGreen">
          <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @isjvf_jrotc.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
              <td align=left><%=result.firstname%> <%=result.surname%></td><td>
	      	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
  </tr>
  <tr>
  <%if (@isim.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic Intermediate Male</th>
        <tr>
        <tr style="background-color:LightGreen">
          <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @isim.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
              <td align=left><%=result.firstname%> <%=result.surname%></td><td>
	      	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@isif.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic Intermediate Female</th>
        <tr>
        <tr style="background-color:LightGreen">
          <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @isif.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
              <td align=left><%=result.firstname%> <%=result.surname%></td><td>
	      	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
   </tr>
   <tr>
   <%if (@ispm.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic Primary Male</th>
        <tr>
        <tr style="background-color:LightGreen">
         <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @ispm.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
              <td align=left><%=result.firstname%> <%=result.surname%></td><td>
	      	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
    <% end %>
    <%if (@ispf.count > 0)%>
      <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
                          margin: 0; padding: 0;">
        <tr style="background-color:LightGreen">
          <th colspan=6 align=center>Interscholastic Primary Female</th>
        <tr>
        <tr style="background-color:LightGreen">
          <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
          <%iplace = 1 %>
          <% @ispf.each do |result| %>
            <tr>
              <td valign=top >&nbsp<%=iplace.to_s %></td>
              <td align=left><%=result.firstname%> <%=result.surname%></td><td>
	      	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
              </td>
              <td align=left><%=result.total.round(2).to_s%></td>
              <%iplace += 1%>
              <%if iplace >3%>
                <%break%>
              <%end%>
            </tr>
          <%end%>
        </tr>
      </table></td>
          <% end %>
         </tr>
   <tr>  
	      <%if (@icvm.count > 0)%>
	        <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
	                            margin: 0; padding: 0;">
	          <tr style="background-color:LightGreen">
	            <th colspan=6 align=center>Intercollegiate Varsity Male</th>
	          <tr>
	          <tr style="background-color:LightGreen">
	            <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
	            <%iplace = 1 %>
	            <% @icvm.each do |result| %>
	              <tr>
	                <td valign=top >&nbsp<%=iplace.to_s %></td>
	                <td align=left><%=result.firstname%> <%=result.surname%></td><td>
				                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
	                </td>
	                <td align=left><%=result.total.round(2).to_s%></td>
	                <%iplace += 1%>
	                <%if iplace >3%>
	                  <%break%>
	                <%end%>
	              </tr>
	            <%end%>
	          </tr>
	        </table></td>
	      <% end %>
	     
	     <%if (@icvf.count > 0)%>
	        <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
	                            margin: 0; padding: 0;">
	          <tr style="background-color:LightGreen">
	            <th colspan=6 align=center>Intercollegiate Varsity Female</th>
	          <tr>
	          <tr style="background-color:LightGreen">
	            <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
	            <%iplace = 1 %>
	            <% @icvf.each do |result| %>
	              <tr>
	                <td valign=top >&nbsp<%=iplace.to_s %></td>
	                <td align=left><%=result.firstname%> <%=result.surname%></td><td>
				                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
	                </td>
	                <td align=left><%=result.total.round(2).to_s%></td>
	                <%iplace += 1%>
	                <%if iplace >3%>
	                  <%break%>
	                <%end%>
	              </tr>
	            <%end%>
	          </tr>
	        </table></td>
	      <% end %>
	      
	      <%if (@icjvm.count > 0)%>
	      	        <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
	      	                            margin: 0; padding: 0;">
	      	          <tr style="background-color:LightGreen">
	      	            <th colspan=6 align=center>Intercollegiate JV Male</th>
	      	          <tr>
	      	          <tr style="background-color:LightGreen">
	      	            <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
	      	            <%iplace = 1 %>
	      	            <% @icjvm.each do |result| %>
	      	              <tr>
	      	                <td valign=top >&nbsp<%=iplace.to_s %></td>
	      	               <td align=left><%=result.firstname%> <%=result.surname%></td><td>
			       	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
	      	                </td>
	      	                <td align=left><%=result.total.round(2).to_s%></td>
	      	                <%iplace += 1%>
	      	                <%if iplace >3%>
	      	                  <%break%>
	      	                <%end%>
	      	              </tr>
	      	            <%end%>
	      	          </tr>
	      	        </table></td>
	      	      <% end %>
	      	     
	      	     <%if (@icjvf.count > 0)%>
	      	        <td valign=top><table width = 100% border=0 style="border-collapse: collapse; order-spacing: 0;
	      	                            margin: 0; padding: 0;">
	      	          <tr style="background-color:LightGreen">
	      	            <th colspan=6 align=center>Intercollegiate JV Female</th>
	      	          <tr>
	      	          <tr style="background-color:LightGreen">
	      	            <td>Pl</td><td>Runner</td><td>School</td><td>Day 1</td><td>Day 2<td>Score</td>
	      	            <%iplace = 1 %>
	      	            <% @icjvf.each do |result| %>
	      	              <tr>
	      	               <td align=left><%=result.firstname%> <%=result.surname%></td><td>
			       	                          <%=result.school%></td><td>
                     <%=result.day1_score.round(3) %> </td><td><%=result.day2_score.round(3) %>
	      	                </td>
	      	                <td align=left><%=result.total.round(2).to_s%></td>
	      	                <%iplace += 1%>
	      	                <%if iplace >3%>
	      	                  <%break%>
	      	                <%end%>
	      	              </tr>
	      	            <%end%>
	      	          </tr>
	      	        </table></td>
	      <% end %>
  </tr>
</table>
