<%iplace = 1 %>
<% if (runners.size > 0) %>
  <% runners.each do |result| %>
    <% if (result.entryclass == run_class[0]) %>
    <tr>
     <td>&nbsp<% if result.non_compete != 0 %><%="nc" %><% else %> <%=iplace.to_s %> <% end %></td>
                   <td align=left><%=result.firstname%> <%=result.surname%></td>
                   <td><%=result.school_short%></td>
                   <td style="text-align: right"><%=time_to_value(result.classifier1, result.time1, result.float_time1) %></td>
                   <% if run_class[1]["wta_score"] %>
                    <td style="text-align: right"><% if result.day1_score != nil  && (result.non_compete == 0) %><%=result.day1_score.round(2) %><% end %></td>
                  <% end %>
                  <td style="text-align: right"><%=time_to_value(result.classifier2, result.time2, result.float_time2) %></td>
                  <% if run_class[1]["wta_score"] %>
                    <td style="text-align: right"><% if result.day2_score != nil && (result.non_compete == 0) %><%=result.day2_score.round(2) %><% end %></td>
                    <td style="text-align: right"><% if result.day1_score != nil && (result.non_compete == 0) && result.day2_score && result.total %><%=result.total.round(2).to_s%><% end %></td>
                  <% end %>
                  <%iplace += 1%>
                   
                 </tr>
             
             <% end %>
    <% end %>
<% else %>
  <tr><td colspan="2">No entries</td></tr>
<% end %>
